.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex-1 {
  flex: 1;
}
