@include make-font-face('SF-Pro-Text-Regular', 'SF Pro Text', $weight: 400);
@include make-font-face('SF-Pro-Text-Light', 'SF Pro Text', $weight: 300);
@include make-font-face('SF-Pro-Text-Medium', 'SF Pro Text', $weight: 500);
@include make-font-face('SF-Pro-Text-Semibold', 'SF Pro Text', $weight: 600);
@include make-font-face('SF-Pro-Text-Bold', 'SF Pro Text', $weight: 700);
@include make-font-face('SF-Pro-Text-Heavy', 'SF Pro Text', $weight: 800);
@include make-font-face('SF-Pro-Display-Regular', 'SF Pro Display', $weight: 400);
@include make-font-face('SF-Pro-Display-Light', 'SF Pro Display', $weight: 300);
@include make-font-face('SF-Pro-Display-Medium', 'SF Pro Display', $weight: 500);
@include make-font-face('SF-Pro-Display-Semibold', 'SF Pro Display', $weight: 600);
@include make-font-face('SF-Pro-Display-Bold', 'SF Pro Display', $weight: 700);
@include make-font-face('SF-Pro-Display-Heavy', 'SF Pro Display', $weight: 800);


@include make-font-face('CircularStd-Book', 'Circular Std', $weight: 400);
@include make-font-face('CircularStd-Medium', 'Circular Std', $weight: 500);
@include make-font-face('CircularStd-Bold', 'Circular Std', $weight: 600);
@include make-font-face('CircularStd-Black', 'Circular Std', $weight: 800);
// @include make-font-face('Circular-Std-Font-2', 'Circular Std', $weight: 600);
