@font-face {
  font-family: "gw-icon";
  src: url('#{$font-path}/gw-icon.eot');
  src: url('#{$font-path}/gw-icon.eot?#iefix') format('eot'),
    url('#{$font-path}/gw-icon.woff2') format('woff2'),
    url('#{$font-path}/gw-icon.woff') format('woff'),
    url('#{$font-path}/gw-icon.ttf') format('truetype'),
    url('#{$font-path}/gw-icon.svg#gw-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gw-icon{
  display: inline-block;
  font-family: "gw-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-arrow-left:before { content: "\EA01" }
.icon-arrow-right:before { content: "\EA02" }
.icon-bars:before { content: "\EA03" }
.icon-times:before { content: "\EA04" }
.icon-check:before { content: "\EA05" }
.icon-chevron-left:before { content: "\EA06" }
.icon-chevron-right:before { content: "\EA07" }
.icon-ellipsis-h:before { content: "\EA08" }
.icon-chevron-down:before { content: "\EA09" }