.fz-24 {
  font-size: 24px;
}

@for $i from 1 to 5 {
  .mr-#{$i} {
    margin-right: #{$i * 4}px;
  }
  .ml-#{$i} {
    margin-left: #{$i * 4}px;
  }
  .mt-#{$i} {
    margin-top: #{$i * 4}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i * 4}px;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.text-secondary {
  color: $secondary;
}

.text-tertiary {
  color: $tertiary;
}
