.wow {
  visibility: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gw-image {
  @include media-breakpoint-down(md) {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.gw-main{
  width: 100vw;
  overflow-x: hidden;
  // @include media-breakpoint-down(sm) {
  //   width: 100vw;
  //   overflow-x: hidden;
  // }
}
// .gw-main {
//   @include media-breakpoint-only(xl) {
//     padding-bottom: 80px;
//   }

//   @include media-breakpoint-between(md, lg) {
//     padding-bottom: 64px;
//   }

//   @include media-breakpoint-down(sm) {
//     padding-bottom: 48px;
//   }
// }

// .page-home {
//   .gw-main {
//     padding-bottom: 0;
//   }
// }

.gw-image {
  @include media-breakpoint-down(md) {
    margin-top: 48px;
  }

  img {
    height: auto;
  }
}

.gw-image--overflow {
  @include media-breakpoint-only(xl) {
    margin-top: -96px;
    margin-bottom: -96px;
  }
  @include media-breakpoint-only(lg) {
    margin-top: -72px;
    margin-bottom: -72px;
  }
  // @include media-breakpoint-only(md) {
  //   margin-top: -64px;
  //   margin-bottom: -64px;
  // }
}

.gw-image--bottom-0 {
  margin-bottom: 0;
}

.gw-image--overflow-top {
  @include media-breakpoint-only(xl) {
    margin-top: -96px;
  }
  @include media-breakpoint-only(lg) {
    margin-top: -72px;
  }
}
.gw-image--overflow-bottom {
  @include media-breakpoint-only(xl) {
    margin-bottom: -96px;
  }
  @include media-breakpoint-only(lg) {
    margin-bottom: -72px;
  }
}

.gw-desktop {
  position: relative;
  img {
    overflow: hidden;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.gw-mobile {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.img-shadow {
  box-shadow: -24px -24px 80px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}
