{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = 'page-home' %}
{# {% set activeIndex = 1 %} #}

{% block content %}
  {% include "home/hero.njk" %}
  {% include "home/block-1.njk" %}
  {% include "home/block-2.njk" %}
  {% include "home/block-3.njk" %}
  {% include "home/block-4.njk" %}
  {% include "home/block-5.njk" %}
  {% include "home/block-6.njk" %}
  {% include "home/Q&A.njk" %}
{% endblock %}
