.gw-box {
  @include media-breakpoint-up(lg) {
    margin-bottom: 56px;
  }

  @include media-breakpoint-only(md) {
    margin-bottom: 48px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.gw-box__header {
  margin-bottom: 24px;
}

.gw-box__title {
  margin: 0;
  @include media-breakpoint-up(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-only(md) {
    font-size: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }

  > a {
    color: inherit;

    &:hover {
      color: $primary;
    }
  }
}
