.gw-checklist {
  margin-top: 32px;
  > li {
    margin-bottom: 24px;
    position: relative;
    padding-left: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .gw-icon {
    background-color: $primary;
    color: $white;
    font-size: 18px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 2px;
  }
}

.gw-checklist--2 {
  .line-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: $body-color;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  .line-2 {
    color: $secondary;
  }

  > li {
    margin-bottom: 32px;
  }
}
