
.swiper-container--classes{
  overflow: visible;
  .swiper-slide {
    height: auto;
    width: 50%;
    &:nth-child(1){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-left.svg) no-repeat top left;
        background-color: #2971F0;
      }
    }
    &:nth-child(2){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-bottom.svg) no-repeat bottom left;
        background-color: #FFB700;
        &__header{
          &:after{
            background-color: $black;
          }
        }
      }
    }
    &:nth-child(3){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-right.svg) no-repeat top right;
        background-color: #FF6D03;
      }
    }
    &:nth-child(4){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-top.svg) no-repeat bottom left;
        background-color: #D53F8C;
      }
    }
    &:nth-child(5){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-left.svg) no-repeat top left;
        background-color: #944FD8;
      }
    }
    &:nth-child(6){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-bottom.svg) no-repeat bottom left;
        background-color: #51C580;
        &__header{
          &:after{
            background-color: $black;
          }
        }
      }
    }
    &:nth-child(7){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-right.svg) no-repeat top right;
        background-color: #DF4349;
      }
    }
    &:nth-child(8){
      .gw-classes{
        background: url(#{$img-path}/bitu/mask/mask-top.svg) no-repeat bottom left;
        background-color: #42BAC2;
      }
    }
  }

  .swiper-wrapper {
    align-items:stretch;
    @include media-breakpoint-only(xl) {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    @include media-breakpoint-between(md, lg) {
      margin-top: 56px;
      margin-bottom: 56px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .swiper-pagination {
    bottom: 0;
    position: static;
    // display: none;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: $secondary;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
    width: 12px;
    height: 12px;
  }

}

.gw-classes{
  box-shadow: 0px 8px 8px rgba(41, 113, 240, 0.15);
  border-radius: 16px;
  min-height: 432px;
  padding:24px;
  @include media-breakpoint-down(md) {
    // width: 300px;
  }

  &__header{
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    position: relative;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
    &:after{
      content:'';
      width: 47px;
      height: 4px;
      border-radius: 2px;
      background-color: $white;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__content{
    display: flex;
    align-items: flex-start;
    padding-bottom: 24px;
    padding-top: 24px;
    ul{
      li{
        list-style-type: initial;
        list-style-position: inside;
        font-size: 14px;
        line-height: 23px;
      }
    }
  }

}
.gw-classes__text{
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
    text-align: left !important;
  }
}
