.gw-section--block-2,
.gw-section--block-4 {
  .gw-desktop {
    @include media-breakpoint-only(xl) {
      margin-bottom: -15%;
    }
    @include media-breakpoint-only(lg) {
      margin-bottom: 0;
    }
  }
  .gw-mobile {
    margin-bottom: -80px;
  }

  .gw-info {
    @include media-breakpoint-only(md) {
      padding-right: 180px;
    }
    @include media-breakpoint-only(sm) {
      padding-right: 120px;
    }
  }

  .gw-section__content {
    position: relative;
    @include media-breakpoint-only(xl) {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include media-breakpoint-between(md, lg) {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    * {
      z-index: 1;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   background-color: #f1f2f4;
    //   z-index: 0;
    //   pointer-events: none;
    //   border-radius: 8px;

    //   bottom: 15%;
    //   @include media-breakpoint-only(xl) {
    //     right: 312px;
    //   }
    //   @include media-breakpoint-only(lg) {
    //     bottom: 10%;
    //     right: 160px;
    //   }
    //   @include media-breakpoint-only(md) {
    //     right: 120px;
    //   }
    //   @include media-breakpoint-only(sm) {
    //     right: 80px;
    //   }
    //   @include media-breakpoint-down(xs) {
    //     right: -$grid-gutter-width/2;
    //     left: -$grid-gutter-width/2;
    //   }
    // }
  }
}

.gw-section--block-4 {
  padding-top: 0;
  background-color: $primary;
  .gw-desktop {
    text-align: center;
    padding: 10% 0;
    position: relative;
  }
  .gw-section__heading{
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 40px;
    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 10px;
    }
  }
  .gw-info {
    @include media-breakpoint-only(sm) {
      padding-left: 56px;
      padding-right: 56px;
    }

    @include media-breakpoint-up(md) {
      padding-left: 56px;
      padding-right: 56px;
    }
  }
  .gw-section__content {
    background-color: $white;
    border-radius: 1rem;
    border:2px solid $gray;
    position: relative;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .gw-interactive__nav{
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: start;
    }
    .icon-step{
      @include media-breakpoint-down(sm) {
        width: 40px;
        height: 40px;
        background-size: 100%;
      }
    }
    .nav-link--content{
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(sm) {
        align-items: flex-start;
        margin-left: 10px;
      }

    }
    .nav-item{
      @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: start;

      }
    }
    .nav-link{
      @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: start;
        align-items: center;
        flex-direction: row;

      }
    }
  }
}
.gw-section--block-5 {
  padding-top: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 50px;
  }
  padding-bottom: 0px;
  background-color: $blue;
  position: relative;
  &::after {
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    top:70%;
    bottom: 0;
    background: url(#{$img-path}/bitu/Pattern.svg) no-repeat center center;

  }
  .gw-section__header{
    margin-bottom: 50px;
    @include media-breakpoint-down(md) {
      text-align: left !important;
    }
  }
  .gw-section__content {
    .gw-section__description{
      color: $gray;
      position: relative;
      z-index: 1;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
    &::after {
      position: absolute;
      content:'';
      left: 14px;
      right: -14px;
      top:14px;
      bottom: -14px;
      z-index: 0;
      background: url(#{$img-path}/bitu/Pattern-content.svg) no-repeat center center;
      border-radius: 1rem;

    }
    &::before {
      background-color: $white;
      border-radius: 1rem;
      border:2px solid $gray;
      position: absolute;
      content:'';
      left: 0;
      right: 0;
      top:0;
      bottom: 0;
      z-index: 1;

    }
  }
  .gw-section__more {
    margin-top: 80px;
    position: relative;
    .gw-clip{
      width: 164px;
      height: 164px;
      border-radius: 50%;
      position: absolute;
      border: 1px solid #FFFFFF;
      background-color: $blue;
      box-sizing: border-box;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .gw-clip-1{
      bottom:20px
    }
  }
  .gw-testimonial__user{
    display: none;
  }
  .nav-link.ative+ .gw-testimonial__user{
    display: block;
  }

}


.gw-section--block-1 {
  @include media-breakpoint-down(xs) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .gw-desktop {
    text-align: center;
  }
  .gw-info {
    z-index: 1;
  }
  .gw-info {
    padding-left: 120px;
    padding-top: 30px;
    @include media-breakpoint-only(md) {
      padding-right: 180px;
      padding-left: 180px;
    }
    @include media-breakpoint-only(sm) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @include media-breakpoint-down(xs) {
      padding-right: 32px;
      padding-left: 32px;
      padding-top:10px;
    }
  }
  .gw-desktop,.gw-section__heading,.gw-mobile{
    position: relative;
    z-index: 1;
  }
  .gw-desktop{
    img{
      border-radius: 50px;
      filter: drop-shadow(0px 56.9067px 36.9067px rgba(18, 25, 34, 0.1)) drop-shadow(0px 63.8696px 70.172px rgba(18, 25, 34, 0.0776796)) drop-shadow(0px 48.7852px 53.6192px rgba(18, 25, 34, 0.0699751)) drop-shadow(0px 33.5611px 49.18px rgba(18, 25, 34, 0.0657962)) drop-shadow(0px 22.3623px 31.0095px rgba(18, 25, 34, 0.0627343)) drop-shadow(0px 14.015px 18.0187px rgba(18, 25, 34, 0.0593946)) drop-shadow(0px 7.79474px 9.05348px rgba(18, 25, 34, 0.0542688)) drop-shadow(0px 3.23067px 3.25334px rgba(18, 25, 34, 0.0443301));
    }
  }
  .gw-section__heading{
    margin-bottom: 100px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      padding-left: 0px !important;
    }
  }
  .gw-section__content{
    position: relative;
    padding-top:50px;
    padding-bottom:50px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right:0;

      background-color: $primary;
      border:2px solid $gray;
      z-index: 0;
      pointer-events: none;
      border-radius: 16px;
      bottom: 0;

      @include media-breakpoint-up(md) {
        // right: 312px;
        top: 185px;
      }

      @include media-breakpoint-down(md) {
        top: 115px;
        bottom: 100px;
        // right: -$grid-gutter-width/2;
        // left: -$grid-gutter-width/2;
      }
    }
  }
  .gw-section__description {
    margin: 50px auto 0 auto;
    color: $gray;
    font-size:1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
    @include media-breakpoint-down(xs) {
      font-size:1rem;
    }
  }

}

.gw-section--block-2 {
  padding-top: 0;
  padding-bottom: 0;
  .gw-section__content {
    &::after {
      content: none;
    }
    @include media-breakpoint-down(xs) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .gw-desktop {
    text-align: right;
    padding-bottom: 15%;
  }
  .gw-section__heading{
    @include media-breakpoint-down(md) {
      margin-bottom: 0px !important;
    }
  }

}

.gw-section--block-3 {
  position: relative;
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
  @include media-breakpoint-up(lg) {
    .gw-info {
      padding-top: 5%;
    }
  }
  &::after {
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    top:0;
    bottom: 50%;
    background: url(#{$img-path}/bitu/Pattern-top.svg) no-repeat center center;

  }
  &::before {
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    top:50%;
    bottom: 0;
    background: $primary;

  }
  .gw-section__heading{
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 40px;
  }
  .gw-desktop {
    text-align: center;
    padding: 10% 0;
    position: relative;

    &::after {
      top: -30%;
      bottom: -30%;
      left: -30%;
      right: -30%;
    }
  }

  .gw-mobile {
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }


  .gw-section__content {
    background-color: $white;
    border-radius: 1rem;
    border:2px solid $gray;
    position: relative;
    z-index: 1;
  }
  .gw-info {
    padding-left: 70px;
    padding-top: 30px;
    @include media-breakpoint-only(md) {
      padding-right: 180px;
      padding-left: 180px;
    }
    @include media-breakpoint-only(sm) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @include media-breakpoint-down(md) {
      padding: 20px 40px 10px 40px;
    }

  }
  .gw-section__description {
    @include media-breakpoint-down(md) {
      padding: 0px !important;
      margin: 0 !important;
    }
    p.mt-5{
      @include media-breakpoint-down(md) {
        margin-top: 10px !important;
        padding: 0px 25px !important;
      }
    }
    .gw-checklist{
      @include media-breakpoint-down(md) {
        margin-bottom: 30px !important;
      }
      li{
        @include media-breakpoint-down(md) {
          padding: 5px 10px !important;
          margin: 0 !important;
        }
      }

    }
  }

}
.gw-section--block-6{
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 30%;
    background: #FFF0E6;
  }
  .gw-section__heading{
    @include media-breakpoint-down(md) {
      margin-top: 0px !important;
    }
  }
}
.gw-section--block-7{
  padding-top: 0;

  .card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
  }
  .card-header:first-child {
    border-radius: 0;
  }
  .card-header {
    background-color: $white;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #E2E8F0;
    margin-bottom: 0;
    padding: 0px 1.25rem;
    .collapsed + .fa-angle-right{
      transform: rotate(180deg);
    }
    @include media-breakpoint-down(md) {
      padding: 8px  0!important;
    }
    .fa-angle-right{
      margin-left: 8px;
    }


  }
  .card-header a span{
    float:left;
    font-size:25px;
    padding:5px 0;
    margin:0 25px 0 0px;
    font-size: 52px;
    line-height: 66px;
    color: #E2E8F0;
  }
  .card-header span{
    display: flex;
    justify-content: start;
    text-align: left;
    align-items: center;

  }

  .card-header a{
    // width:97%;
    flex-direction: row;
    float:left;
    color:$gray;
    display: flex;
    justify-content: start;
    text-align: left;
    align-items: center;
  }
  .card-header p{
    margin:0;
  }

  .card-header h3{
    margin:0 0 0px;
    font-size:20px;
    font-family: 'Slabo 27px', serif;
    font-weight:bold;
    color:#3fc199;
  }
  .card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    // box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-bottom:1px solid #E2E8F0;;
    border-radius:0;
  }
  .fa-file-text-o{
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
  .gw-section__content {
    @include media-breakpoint-down(md) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
