.gw-section--core-values {
  .gw-info {
    @include media-breakpoint-up(lg) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
}

.gw-core {
  margin-top: 64px;
  text-align: left;

  @include media-breakpoint-only(xl) {
    margin-bottom: -56px;
  }
  @include media-breakpoint-only(lg) {
    margin-bottom: -32px;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: -32px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: -32px;
  }
  > li {
    @include media-breakpoint-only(xl) {
      margin-bottom: 56px;
    }
    @include media-breakpoint-only(lg) {
      margin-bottom: 32px;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 32px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.gw-core__icon {
  width: 48px;
  height: 48px;
  @include media-breakpoint-up(md) {
    margin-right: 16px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.gw-core__name {
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.gw-core__description {
  color: $secondary;
}

.gw-side-banner {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.gw-side-banner__image {
  height: 100%;
  width: 100%;
  animation: autoScale 15s ease-in-out infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

@keyframes autoScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateX(-5%);
  }

  to {
    transform: scale(1);
  }
}

.gw-core__content {
  flex: 1;
}

.gw-core--2 {
  > li {
    @include media-breakpoint-down(lg) {
      display: flex;
      align-items: center;
    }
  }

  .gw-core__icon {
    margin-right: 16px;
    margin-bottom: 0;
    @include media-breakpoint-between(md, lg) {
      height: 64px;
      width: 64px;
    }
    @include media-breakpoint-down(sm) {
      height: 56px;
      width: 56px;
    }
  }
}
