.gw-app {
  margin-top: 32px;
  color: $tertiary;

  p {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(xs) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {
    transition: all 0.2s ease-in-out;
    width: 176px;
    @include media-breakpoint-up(sm) {
      margin-right: 20px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(xs) {
      margin: 16px auto 0 auto;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
