.gw-parallax__item,
.gw-parallax {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gw-decor--image {
  box-shadow: 24px 24px 60px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.gw-decor--shadow {
  background-color: $white;
  box-shadow: 20px 20px 20px rgba(48, 169, 96, 0.1);
}
.gw-decor--circle {
  overflow: hidden;
  border-radius: 50%;
}

.gw-decor {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display: inline-block;
  position: absolute;
  z-index: 3;

  &.icon-heart {
    background-image: url(#{$img-path}/icons/heart.png);
    width: 58px;
    height: 62px;
    top: -15%;
    left: 15%;
  }
  &.icon-clap {
    background-image: url(#{$img-path}/icons/clap.png);
    width: 64px;
    height: 64px;
    left: -5%;
    top: -10%;
  }
  &.icon-fire {
    background-image: url(#{$img-path}/icons/fire.png);
    width: 64px;
    height: 64px;
    right: 0;
    top: -15%;
  }
  &.icon-thumb-up {
    background-image: url(#{$img-path}/icons/thumb-up.png);
    width: 63px;
    height: 62px;
    right: 5%;
    top: 25%;
  }
  &.icon-tada {
    background-image: url(#{$img-path}/icons/tada.png);
    width: 64px;
    height: 64px;
    left: 2%;
    top: 50%;
  }

  // block-4
  &.icon-card {
    background-image: url(#{$img-path}/icons/card.png);
    width: 80px;
    height: 80px;
    bottom: 4%;
    right: 4%;
  }

  &.icon-video {
    background-image: url(#{$img-path}/icons/video.png);
    width: 64px;
    height: 64px;
    top: 45%;
    right: -5%;
  }

  &.icon-design-guide {
    background-image: url(#{$img-path}/icons/design-guide.png);
    width: 210px;
    height: 80px;
    top: 35%;
    left: 0;
  }

  &.icon-init {
    background-image: url(#{$img-path}/icons/init.png);
    width: 195px;
    height: 174px;
    top: -5%;
    right: -5%;
  }

  &.icon-privacy {
    background-image: url(#{$img-path}/icons/privacy.png);
    width: 259px;
    height: 155px;
    bottom: -5%;
    left: -10%;
  }

  // block-2

  &.icon-heart-2 {
    background-image: url(#{$img-path}/icons/heart-2.png);
    width: 64px;
    height: 64px;
    bottom: 20%;
    left: 60%;
  }
  &.icon-thumb-up-2 {
    background-image: url(#{$img-path}/icons/thumb-up-2.png);
    width: 48px;
    height: 48px;
    bottom: 27%;
    right: 10%;
  }
  &.icon-clap-2 {
    background-image: url(#{$img-path}/icons/clap-2.png);
    width: 36px;
    height: 37px;
    bottom: 12%;
    right: 10%;
  }
  &.icon-tada-2 {
    background-image: url(#{$img-path}/icons/tada-2.png);
    width: 32px;
    height: 33px;
    bottom: 7%;
    left: 55%;
  }

  &.icon-question {
    background-image: url(#{$img-path}/icons/question.png);
    width: 73px;
    height: 73px;
    top: 10%;
    right: -5%;
  }

  &.icon-pin {
    background-image: url(#{$img-path}/icons/pin.png);
    width: 338px;
    height: 133px;
    bottom: 0;
    left: -5%;
  }

  &.icon-notification {
    background-image: url(#{$img-path}/icons/notification.png);
    width: 395px;
    height: 160px;
    top: 15%;
    left: -3%;
  }

  // block-1
  &.icon-chat {
    background-image: url(#{$img-path}/icons/chat.png);
    width: 384px;
    height: 204px;
    bottom: -20%;
    right: 0;

    @include media-breakpoint-only(lg) {
      right: -10%;
    }
  }

  &.icon-phone {
    background-image: url(#{$img-path}/bitu/mascot.png);
    width: 160px;
    height: 346px;
    bottom: -10%;
    left: 20px;
  }

  // block-3

  &.icon-group {
    background-image: url(#{$img-path}/icons/group.png);
    width: 281px;
    height: 74px;
    bottom: 5%;
    right: 0;
  }
  &.icon-app {
    background-image: url(#{$img-path}/icons/app.png);
    width: 160px;
    height: 346px;
    bottom: -5%;
    left: 0;
  }
}
