.gw-section-demo-hero {
  background: #fff url(#{$img-path}/demo/hero.jpg) no-repeat center center;

  @include media-breakpoint-up(lg) {
    background-size: auto 90%;
  }
  @include media-breakpoint-only(md) {
    background-size: 100% auto;
  }

  .gw-section__heading {
    font-size: 56px;

    @include media-breakpoint-between(md, lg) {
      font-size: 48px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 36px;
    }
  }
}

.gw-section--demo {
  // background-color: $tertiary-bg;
}

.gw-demo__image {
  position: relative;
  width: 1008px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  box-shadow: 40px 40px 64px rgba(0, 0, 0, 0.1);
  > img {
    float: left;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
  }
}

.gw-demo__mobile {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-in-out;
  @include media-breakpoint-up(lg) {
    display: none;
  }

  &.active {
    max-height: 300px;
  }
}

.gw-interactive {
  margin-top: 24px;

  .tab-content {
    padding: 32px;
    background-color: $secondary-alpha;
    border-radius: 8px;
    transition: all 0.3s ease;
    @include media-breakpoint-down(sm) {
      padding: 10px 14px;
    }
  }
}

.gw-interactive__nav {
  @include media-breakpoint-down(sm) {
    flex-wrap: nowrap;
  }

  .nav-item {
    margin-right: 12px;
    flex-grow: 1;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    font-size: 24px;
    line-height: 30px;

    &:hover {
      opacity: 0.8;
    }

    @include media-breakpoint-down(sm) {
      padding: 8px 12px;
      font-size: 14px;
      flex: 1;
    }

    @include media-breakpoint-up(md) {
      padding: 10px 26px;
    }

    &.active {
      // background-color: $primary;
      border-bottom: 2px solid $secondary;
      color: $secondary;
      .gw-icon {
        color: inherit;
      }
    }
    .step-name{
      color: #718096;
      font-size: 18px;
      line-height: 23px;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0px !important;
      }
    }
  }

  .gw-icon {
    color: $secondary;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      margin-right: 6px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
      margin-right: 8px;
    }
  }
  .icon-step{
    width: 64px;
    height: 64px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 5px !important;
    }
  }
  .icon-step1{
    background:  url(#{$img-path}/bitu/icons/icon-step1.svg) no-repeat center center;
    background-size: 100%;
  }
  .active{
    .icon-step1{
      background:  url(#{$img-path}/bitu/icons/icon-step1-active.svg) no-repeat center center;
      background-size: 100%;
    }
    .icon-step2{
      background:  url(#{$img-path}/bitu/icons/icon-step2-active.svg) no-repeat center center;
      background-size: 100%;
    }
    .icon-step3{
      background:  url(#{$img-path}/bitu/icons/icon-step3-active.svg) no-repeat center center;
      background-size: 100%;
    }
    .icon-step4{
      background:  url(#{$img-path}/bitu/icons/icon-step4-active.svg) no-repeat center center;
      background-size: 100%;
    }
    .icon-step5{
      background:  url(#{$img-path}/bitu/icons/icon-step5-active.svg) no-repeat center center;
      background-size: 100%;
    }
    .step-name{
      color:$secondary;
    }
  }

  .icon-step2{
    background:  url(#{$img-path}/bitu/icons/icon-step2.svg) no-repeat center center;
  }

  .icon-step3{
    background:  url(#{$img-path}/bitu/icons/icon-step3.svg) no-repeat center center;
  }

  .icon-step4{
    background:  url(#{$img-path}/bitu/icons/icon-step4.svg) no-repeat center center;
  }
  .icon-step5{
    background:  url(#{$img-path}/bitu/icons/icon-step5.svg) no-repeat center center;
  }


}

.gw-level {
  margin-top: 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .tab-content {
    padding: 32px;
    // background-color: $secondary-alpha;
    border-radius: 8px;
    transition: all 0.3s ease;


  }
  .gw-level-wrap{
    @include media-breakpoint-down(md) {
      overflow-x: scroll;
      width: 100%;
      /* width */
      ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}

.gw-level__nav {


  @include media-breakpoint-down(md) {
    flex-wrap: nowrap;
    width: 1272px;
    // width: 100%;
    display: block;
    height: 180px;
    overflow-x: scroll;

  }

  .nav-item {
    margin-right: 20px;
    flex-grow: 1;
    @include media-breakpoint-down(md) {
      width: 192px;
      display: inline-block;
      float: left;
    }
    .active{
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08);
      &:hover{
        &::after{
          opacity: 0.8;
        }
      }
    }
    &:nth-child(1){
      .nav-link{
        background-color: #FAF4BC;
      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #FAF4BC;
        }
      }

    }
    &:nth-child(2){
      .nav-link{
        background-color: #BBF3FF;

      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #BBF3FF;
        }
      }
    }
    &:nth-child(3){
      .nav-link{
        background-color: #FFC0F1;
      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #FFC0F1;
        }
      }
    }
    &:nth-child(4){
      .nav-link{
        background-color: #FFC0C0;
      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #FFC0C0;
        }
      }
    }
    &:nth-child(5){
      .nav-link{
        background-color: #D4C0FF;
      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #D4C0FF;
        }
      }
    }
    &:nth-child(6){
      .nav-link{
        background-color: #D1F8BF;
      }
      .active{
        &::after{
          position: absolute;
          bottom:-20px;
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #D1F8BF;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    color: $gray;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    display: flex;
    line-height: 20px;
    font-size: 20px;
    line-height: 25px;
    position: relative;

    &:hover {
      opacity: 0.8;
    }

    @include media-breakpoint-down(sm) {
      width: 192px;
    }

    @include media-breakpoint-up(md) {
      padding: 20px 0px;
    }

    // @include media-breakpoint-down(sm) {
    //   flex-basis: 124px;
    // }
    .step-name{
      font-size: 16px;
      line-height: 23px;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
    }
  }

  .gw-icon {
    color: $secondary;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      margin-right: 6px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
      margin-right: 8px;
    }
  }
  .icon-step{
    width: 64px;
    height: 64px;
  }
  .icon-step1{
    background:  url(#{$img-path}/bitu/icons/icon-step1.svg) no-repeat center center;
  }
  .active{

  }




}

.gw-demo__preload {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

