.gw-section--feature {
  text-align: center;

  .gw-section__description {
    max-width: 600px;
  }

  .gw-section__heading {
    font-weight: 600;
  }
}

.gw-section--highlight {
  text-align: center;

  @include media-breakpoint-only(xl) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  @include media-breakpoint-between(md, lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .gw-section__heading {
    font-weight: 600;
  }
}
