.gw-footer {
  background-color: $secondary;
  padding: 15px 0;
  border-top: 1px solid rgba($color: $white, $alpha: 0.2);
  font-size: 14px;

  @include media-breakpoint-down(md) {
    padding-bottom: 24px;

  }
}

.gw-footer__logo {
  img {
    margin-bottom: 4px;
  }
}

.gw-footer__container {
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-only(md) {
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
}

.gw-footer__copyright {
  @include media-breakpoint-down(md) {
    width: 100%;
    margin:10px 0px 0px 0px !important;
  }
}

.gw-footer__links {
  overflow: hidden;
  margin-left: auto;
  @include media-breakpoint-down(md) {
    display: none !important;
  }

  > li {
    float: left;
    @include media-breakpoint-only(xl) {
      padding: 0 20px;
    }

    @include media-breakpoint-down(lg) {
      padding: 0 12px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    > a {
      &:hover {
        color: $secondary;
      }
    }
  }
}
