.bt-header {
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    min-height: 88px;
  }
  @include media-breakpoint-down(md) {
    min-height: 64px;
    padding-left: 1rem
  }
  @media screen and (max-height: 600px) {
    min-height: 64px;
   ;
  }
}

