.gw-header {

  @include media-breakpoint-up(lg) {
    min-height: 88px;
  }
  @include media-breakpoint-down(md) {
    min-height: 64px;
  }
  @media screen and (max-height: 600px) {
    min-height: 64px;
  }
}

.gw-navbar--sticky {
  box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.1);
}

.gw-navbar {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateZ(0.1px);
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  .dropdown-menu {
    margin: 0;
    @include media-breakpoint-up(lg) {
      display: block;
      transform: translateY(20%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.3s ease-in-out;
    }

    @include media-breakpoint-down(md) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .dropdown-item {
    @include media-breakpoint-down(md) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .container {
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }
}

// .navbar-collapse {
//   &::after {
//     content: "";
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 2;
//   }
// }

.navbar-light {
  .navbar-toggler {
    color: $body-color;
    .gw-icon {
      float: left;
    }

    .icon-bars {
      display: none;
    }

    &.collapsed {
      .icon-times {
        display: none;
      }

      .icon-bars {
        display: block;
      }
    }

    @include media-breakpoint-down(md) {
      margin-right: -$navbar-toggler-padding-x;
    }

    outline: none;
  }
}

// .nav-item--btn {
//   @include media-breakpoint-down(md) {
//     display: none;
//   }
// }

.navbar-brand {
  @include media-breakpoint-only(xl) {
    margin-right: 60px;
  }

  @include media-breakpoint-only(lg) {
    margin-right: 48px;
  }

  @include media-breakpoint-only(md) {
    margin-right: 32px;
  }
  img {
    height: 32px;
    width: auto;
    float: left;
  }

  @media screen and (max-height: 600px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 20px;
    padding-bottom: 20px;

    img {
      height: 24px;
    }
  }
}

.gw-nav__cta {
  margin-left: auto;
  margin-right: 16px;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    margin-left: -16px;
    margin-right: -16px;
  }

  .nav-link {
    line-height: 24px;
    transition: all 0.2s ease-in-out;
    outline: none;

    @include media-breakpoint-down(md) {
      &[aria-expanded="true"] {
        .gw-icon {
          transform: rotate(180deg);
        }
      }

      padding: 24px 16px;
      font-weight: 700;
    }
  }

  .nav-item {
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid #f5f5f5;
      // &:last-child {
      //   border-bottom: 0;
      // }
    }
    &.dropdown {
      &.show {
        @include media-breakpoint-down(md) {
          background-color: #f1f2f4;
        }
      }

      &:hover {
        @include media-breakpoint-up(lg) {
          .dropdown-menu {
            transform: translateY(0) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }

      .nav-link {
        display: flex;
        align-items: center;

        .gw-icon {
          margin-left: 8px;
          transition: all 0.2s ease-in-out;
          @include media-breakpoint-down(md) {
            font-size: 24px;
            margin-left: auto;
          }
        }
      }
    }
  }
}

// .nav-item--switch-lang {
//   font-size: 14px;

//   @include media-breakpoint-down(md) {
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }

//   > a {
//     font-weight: 400;
//     line-height: 20px;
//     color: $secondary;
//     border-right: 1px solid $tertiary;
//     padding-left: 16px;
//     padding-right: 16px;

//     @include media-breakpoint-only(lg) {
//       padding-left: 12px;
//       padding-right: 12px;
//     }

//     &:first-child {
//       padding-left: 0;
//     }

//     &:last-child {
//       padding-right: 0;
//       border-right: 0;
//     }
//     &.active {
//       color: $primary;
//     }
//   }

//   @include media-breakpoint-only(lg) {
//     font-size: 12px;
//   }
// }

.nav-item--btn {
  @include media-breakpoint-up(lg) {
    margin-left: 24px;
  }
  @include media-breakpoint-down(md) {
    padding: 24px 0;

    .btn {
      width: 100%;
      display: block;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 24px 16px;
  }
}

.navbar-nav--right {
  @include media-breakpoint-up(lg) {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.gw-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.4);
  border: 0;
  outline: none;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.open-navbar {
  @include media-breakpoint-down(md) {
    overflow: hidden;
    .gw-backdrop {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
