.gw-section--hero {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding-bottom: 0;
  padding-top: 0px;
  text-align: center;
  &::after{
    position: absolute;
    background: url(#{$img-path}/bitu/pattern-banner.svg) no-repeat top center;
    background-color: $secondary;
    content:'';
    display: block;
    top:0;
    z-index: 0;
    width: 100vw;
    height: 820px;
    @include media-breakpoint-only(lg) {
      bottom:auto;
      height: 820px;
    }
    @include media-breakpoint-down(md) {
      bottom:35%;
      height: auto;
    }

  }

  .gw-section__heading {
    font-size: 56px;
    color :$white;
    position: relative;
    z-index: 1;
    font-weight: 600;
    @include media-breakpoint-between(md, lg) {
      font-size: 48px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }


    br{
      display: block;
    }
  }
  .btn-primary{
    border: 1.5px solid $gray;
  }
  .gw-section__description {
    font-size: 32px;
    line-height: 44px;
    margin: 16px auto 0 auto;
    color :$white;
    position: relative;
    z-index: 1;
    font-weight: 400;
    @include media-breakpoint-only(lg) {
      font-size: 18px;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    strong {
      font-weight: 600;
      color: $body-color;
    }
  }
}

.gw-hero__cta {
  margin-top: 32px;
  position: relative;
  z-index: 1;
  font-size: 24px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
    margin-top: 24px;
  }
}
