.page-header {
  text-align: center;
  @include media-breakpoint-up(lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include media-breakpoint-only(md) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.page-header__description {
  color: $secondary;
  margin-top: 8px;
  font-size: 18px;
}

.page-header__title {
  line-height: 1.6;
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }

  @include media-breakpoint-only(md) {
    font-size: 48px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}
