.pagination {
  margin-top: 48px;
}

.page-item {
  margin-right: 1px;
  &:last-child {
    margin-right: 0;
  }
}

.page-link {
  border-radius: 4px;
  text-align: center;
  min-width: 48px;
  font-weight: 700;
  font-size: 14px;

  .gw-icon {
    font-size: 24px;
    float: left;
  }
}
