.gw-section--pricing {
  text-align: center;
}

.gw-pricing {
  max-width: 1050px;
  margin: auto;

  hr {
    margin-top: 28px;
    margin-bottom: 28px;
    border-color: #e9eaec;
  }

  @include media-breakpoint-only(xl) {
    margin-top: 88px;
  }

  @include media-breakpoint-between(md, lg) {
    margin-top: 64px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 48px;
  }
}

.gw-pricing__text {
  font-size: inherit;
  flex: 1;
  margin: 0;
  padding-right: 16px;
  text-align: left;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.gw-pricing__col--label {
  text-align: left;
  @include media-breakpoint-down(md) {
    display: none;
  }

  hr {
    border-color: #dedfe2;
  }
}

.gw-pricing__info {
  margin-top: -52px;
  margin-bottom: 24px;
}

.gw-pricing__unit {
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
}

.gw-pricing__icon {
  margin-bottom: 16px;
}

.gw-pricing__heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.gw-pricing__amount {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.gw-pricing__col {
  border: 1px solid #dedfe2;
  // overflow: hidden;
  @include media-breakpoint-only(xl) {
    padding: 28px 40px !important;
  }
  @include media-breakpoint-between(md, lg) {
    padding: 28px 32px !important;
  }

  @include media-breakpoint-down(sm) {
    padding: 28px 16px !important;
    border-radius: 16px;
    margin-top: 56px;
  }
}

.gw-pricing__col--basic {
  margin-right: -1px;
  border-width: 2px;
  border-color: $primary;
  position: relative;
  z-index: 1;
  border-top-left-radius: 16px;
}

.gw-pricing__col--advanced {
  border-top-right-radius: 16px;
}

.gw-pricing__col--label {
  border: 0;
  background: #f1f2f4;
  border-radius: 16px 0px 0px 16px;
}

.gw-pricing__cell {
  margin: 0;
  padding: 12px 0;
  @include media-breakpoint-up(lg) {
    @include text-truncate();
  }
}

.gw-pricing__cell--group {
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    height: 56px;
  }
}
.gw-pricing__cell--value,
.gw-pricing__cell--feature {
  line-height: 24px;
  font-size: inherit;
  font-family: $font-family-base;
  color: $secondary;
  @include media-breakpoint-up(md) {
    height: 48px;
  }
}

.gw-pricing__cell--value {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-check {
    color: $primary;
    font-size: 24px;
  }
  .icon-times {
    color: red;
    font-size: 24px;
  }
}

.gw-pricing__cell--feature {
  font-weight: 700;
}

.gw-pricing__multi-line {
  @include media-breakpoint-up(lg) {
    white-space: normal;
    height: 72px;
  }
}
