.gw-section {
  overflow: hidden;
  .gw-mobile {
    margin-top: 48px;
    text-align: center;
  }

  @include media-breakpoint-down(xs) {
    br {
      display: none;
    }
  }
}

.gw-section__heading {
  // letter-spacing: -1px;

  @include media-breakpoint-only(xl) {
    font-size: 56px;
  }
  @include media-breakpoint-only(lg) {
    font-size: 44px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

.gw-section__icon {
  display: inline-block;
  margin-bottom: 24px;

  img {
    width: 64px;
    height: 64px;
  }
}

.gw-section__description {
  margin: 0px auto 0 auto;
  color: $gray;

  p {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gw-section--default {
  @include media-breakpoint-only(xl) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include media-breakpoint-between(md, lg) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gw-section--cta {
  text-align: center;
  .gw-section__heading {
    font-size: 40px;
    @include media-breakpoint-down(md) {
      font-size: 32px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
    }
  }

  .btn {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.gw-section--medium {
  @include section-medium-spacing();
}

.gw-section--inverse {
  background-color: #243742;
  color: $white;
}

.gw-section__navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.gw-section__prev,
.gw-section__next {
  overflow: hidden;
  padding: 6px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 4px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 1px solid #565961;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-left: 24px;

  .gw-icon {
    font-size: 24px;
    float: left;
  }

  &[aria-disabled="true"] {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    border-color: $white;
    background-color: $white;
    color: $body-color;
  }
}

.gw-section--full {
  background-color: #f1f2f4;
}

.gw-section--divider {
  @include media-breakpoint-only(xl) {
    margin-bottom: 96px;
  }

  @include media-breakpoint-between(md, lg) {
    margin-bottom: 72px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 64px;
  }
}

// @include media-breakpoint-only(xl) {
//   bottom: 96px * 2;
// }
// @include media-breakpoint-only(lg) {
//   bottom: 72px * 2;
// }
// @include media-breakpoint-only(md) {
//   bottom: 64px * 2;
// }
// @include media-breakpoint-only(sm) {
//   bottom: 64px * 2;
// }

// @include media-breakpoint-down(xs) {
//   bottom: 64px * 2;
//   right: -$grid-gutter-width/2;
//   left: -$grid-gutter-width/2;
// }

.gw-section__cta {
  margin-top: 32px;
}

.gw-section--enterprise {
  text-align: center;
  padding-top: 0;
  .gw-section__heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 56px;
    line-height: 1.5;
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
    }
  }
}
