.gw-section--stacked {
  padding: 0;
  .gw-section__content {
    position: relative;

    @include section-medium-spacing();

    > * {
      z-index: 1;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #f1f2f4;
      z-index: 0;
      pointer-events: none;
      border-radius: 8px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.gw-section--stacked-full-left {
  .gw-section__content {
    &::after {
      left: -1000px;
    }
  }
}
.gw-section--stacked-full-right {
  .gw-section__content {
    &::after {
      right: -1000px;
    }
  }
}
.gw-section--stacked-half-left {
  .gw-section__content {
    &::after {
      left: -1000px;
      @include media-breakpoint-only(xl) {
        right: map-get($col-width, xl) * 8 + $grid-gutter-width * 7;
      }
      @include media-breakpoint-only(lg) {
        right: map-get($col-width, lg) * 8 + $grid-gutter-width * 7;
      }
      @include media-breakpoint-down(md) {
        right: -1000px;
        left: -1000px;
      }
    }
  }
}

.gw-section--stacked-left,
.gw-section--stacked-full-left {
  .gw-section__content {
    &::after {
      @include media-breakpoint-only(xl) {
        right: map-get($col-width, xl) * 3 + $grid-gutter-width * 3;
      }
      @include media-breakpoint-only(lg) {
        right: map-get($col-width, lg) * 3 + $grid-gutter-width * 3;
      }
      @include media-breakpoint-only(md) {
        right: map-get($col-width, md) * 1 + $grid-gutter-width * 1;
      }
      @include media-breakpoint-down(sm) {
        right: -1000px;
        left: -1000px;
      }
    }
  }

  .gw-info {
    @include media-breakpoint-only(md) {
      padding-right: map-get($col-width, md) * 1 + $grid-gutter-width * 3;
    }
  }
}

.gw-section--stacked-left {
  .gw-info {
    @include media-breakpoint-only(xl) {
      padding-left: map-get($col-width, xl) * 1 + $grid-gutter-width * 1;
    }
    @include media-breakpoint-only(lg) {
      padding-left: map-get($col-width, lg) * 1 + $grid-gutter-width * 1;
    }
    @include media-breakpoint-only(md) {
      padding-left: map-get($col-width, md) * 1 + $grid-gutter-width * 1;
    }
  }
}

.gw-section--stacked-right {
  .gw-info {
    @include media-breakpoint-only(xl) {
      padding-right: map-get($col-width, xl) * 1 + $grid-gutter-width * 1;
    }
    @include media-breakpoint-only(lg) {
      padding-right: map-get($col-width, lg) * 1 + $grid-gutter-width * 1;
    }
    @include media-breakpoint-only(md) {
      padding-left: map-get($col-width, md) * 1 + $grid-gutter-width * 1;
    }
  }
}

.gw-section--stacked-right,
.gw-section--stacked-full-right {
  .gw-section__content {
    &::after {
      @include media-breakpoint-only(xl) {
        left: map-get($col-width, xl) * 3 + $grid-gutter-width * 3;
      }
      @include media-breakpoint-only(lg) {
        left: map-get($col-width, lg) * 3 + $grid-gutter-width * 3;
      }
      @include media-breakpoint-only(md) {
        left: map-get($col-width, md) * 1 + $grid-gutter-width * 1;
      }
      @include media-breakpoint-down(sm) {
        left: -1000px;
        right: -1000px;
      }
    }
  }

  .gw-info {
    @include media-breakpoint-only(md) {
      padding-left: map-get($col-width, md) * 1 + $grid-gutter-width * 3;
    }
  }
}

.gw-section--stacked-bottom {
  .gw-section__content {
    &::after {
      @include media-breakpoint-only(xl) {
        bottom: 96px * 2;
      }
      @include media-breakpoint-only(lg) {
        bottom: 72px * 2;
      }
      @include media-breakpoint-only(md) {
        bottom: 64px * 2;
      }
    }
  }
}
.gw-section--stacked-top {
  .gw-section__content {
    &::after {
      @include media-breakpoint-only(xl) {
        top: 96px * 2;
      }
      @include media-breakpoint-only(lg) {
        top: 72px * 2;
      }
      @include media-breakpoint-only(md) {
        top: 64px * 2;
      }
    }
  }
}
