.gw-section--testimonial {
  overflow: hidden;
  .gw-section__navigation {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .gw-section__heading {
    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.gw-testimonial {
  background-color: $white;
  color: $body-color;
  border-radius: 8px;
  height: 100%;
  @include media-breakpoint-only(xl) {
    padding: 40px 60px 32px 60px;
  }
  @include media-breakpoint-down(lg) {
    padding: 32px 32px 24px 32px;
  }
}

.swiper-container--testimonial {
  overflow: visible;
  .swiper-slide {
    height: auto;
    width: 50%;
  }

  .swiper-wrapper {
    @include media-breakpoint-only(xl) {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    @include media-breakpoint-between(md, lg) {
      margin-top: 56px;
      margin-bottom: 56px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .swiper-pagination {
    bottom: 0;
    position: static;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: $secondary;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $white;
    width: 12px;
    height: 12px;
  }
}

.gw-testimonial__logo {
  margin-bottom: 32px;
}

.gw-testimonial__content {
  margin-bottom: 24px;
}

.gw-testimonial__avatar {
  margin-right: 16px;
}

.gw-testimonial__user {
  p {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

