.gw-visual {
  margin: 50px auto 0px auto;
  background-size: 100% auto;
  z-index: 1;
  position: relative;

  @include media-breakpoint-down(sm) {
    margin-top: 48px;
    // margin-bottom: 64px;
    .gw-decor {
      display: none;
    }
  }
}

.gw-visual__content {
  position: relative;
}

.gw-visual__wrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: -32px -32px 50px rgba(0, 0, 0, 0.02),
    32px -32px 50px rgba(0, 0, 0, 0.02);
    img{
      border-radius: 14px;
    }
}
