<div class="gw-logo container">
  <div class="swiper-container swiper-container--logo">
    <div class="swiper-wrapper">
      {% for i in range(0, 6) %}
        <div class="swiper-slide">
          <img src="/assets/images/brand/logo-{{i+1}}.png" alt="bitu" class="img-fluid">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
