<ul class="gw-checklist gw-checklist--2">
  {% for item in list %}
    <li class="wow fadeInUp" data-wow-delay="{{loop.index * 0.25 + 0.25}}s">
      <i class="gw-icon icon-check"></i>
      <h3 class="line-1">{{item.name | safe}}</h3>
      <div class="line-2">{{item.text | safe}}</div>
    </li>
  {% endfor %}
</ul>
