<ul class="gw-checklist">
  {% for text in list %}
    <li class="wow fadeInUp" data-wow-delay="{{loop.index * 0.25 + 0.25}}s">
      <img src="/assets/images/bitu/icons/icon-checked.svg" />
      {{text | safe}}
    </li>
  {% endfor %}
</ul>
