<section class="gw-section gw-section--medium gw-section--inverse gw-section--cta">
  <div class="container">
    <h2 class="gw-section__heading">Thu hẹp khoảng cách, mở rộng tầm nhìn<br/> với bitu</h2>
    <div class="gw-app">
      <p>Ứng dụng bitu đã có mặt trên:</p>
      <a href="" title="Google Play">
        <img src="/assets/images/google-play.svg" alt="Google Play">
      </a>
      <a href="" title="App Store">
        <img src="/assets/images/app-store.svg" alt="App Store">
      </a>
    </div>
  </div>
</section>
