<footer class="gw-footer">
  <div class="container gw-footer__container">
    <div class="gw-footer__logo">
      <img src="/assets/images/bitu/logo.svg" alt="bitu">
    </div>
    <div class="gw-footer__copyright text-secondary text-white ml-5">Copyright @ 2021 Bitu. All rights reserved</div>
    <ul class="gw-footer__links">

      <li>
        <a href="/" class="text-white">
          Connect with Bitu
          <img src="/assets/images/bitu/logo-facebook.png" class="ml-3" />
        </a>
      </li>
    </ul>


  </div>
</footer>
