<header class="bt-header">
  <nav class="bt-navbar navbar navbar-expand-lg navbar-light" id="js-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/bitu/logo.svg" width="171" height="60" alt="Bitu">
      </a>
    </div>
  </nav>
</header>
