$font-family-base: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 16px;
$line-height-base: 1.5;
$body-bg: $white;

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 740px,
  lg: 980px,
  xl: 1264px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
);

$col-width: (
  sm: 13px,
  md: 28px,
  lg: 48px,
  xl: 72px,
);

$headings-font-weight: 400;
$headings-line-height: 1.25;
$headings-font-family: "Circular Std", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$primary: #FFB700;
$secondary: #FF6D03;
// $secondary: #737682;
$tertiary: #c8cacf;
$border-color: #e2e8f0;
$gray: #1A202C;
$secondary-alpha: #fff8f2;
$blue: #2971F0;

$link-hover-decoration: none;
$link-hover-color: inherit;
$link-color: $primary;

$hr-border-color: $border-color;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "white": $white,
);

$body-color: #26282c;
$body-bg: #fff;

$grid-gutter-width: 32px;

// $enable-shadows: true;

$component-active-bg: theme-color("primary");



$nav-link-padding-y: 12px;
$nav-link-padding-x: 16px;

$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-nav-link-padding-x: 16px;
$navbar-brand-padding-y: 28px;

$navbar-light-color: $body-color;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-disabled-color: rgba($body-color, 0.3);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-active-color;
$navbar-toggler-font-size: 24px;
$navbar-toggler-border-radius: 0;
$navbar-toggler-padding-y: 8px;
$navbar-toggler-padding-x: 8px;
$navbar-light-toggler-border-color: transparent;

$btn-padding-y: 8px;
$btn-padding-x: 16px;
$btn-font-size: 16px;
$btn-line-height: 22px;
$btn-border-radius: 4px;

$btn-padding-y-sm: 6px;
$btn-padding-x-sm: 16px;
$btn-font-size-sm: 14px;
$btn-line-height-sm: 22px;
$btn-border-radius-sm: 4px;

$btn-padding-y-lg: 16px;
$btn-padding-x-lg: 24px;
$btn-font-size-lg: 16px;
$btn-line-height-lg: 22px;
$btn-border-radius-lg: 8px;

$btn-padding-y-md: 12px;
$btn-padding-x-md: 20px;
$btn-font-size-md: 16px;
$btn-line-height-md: 22px;
$btn-border-radius-md: 6px;

$btn-border-width: 1px;
$btn-font-weight: 700;

$dropdown-min-width: 15rem;
$dropdown-padding-x: 0;
$dropdown-padding-y: 12px;
$dropdown-spacer: 4px;
$dropdown-font-size: $font-size-base;
$dropdown-color: $body-color;
$dropdown-bg: #f1f2f4;
$dropdown-border-color: transparent;
$dropdown-border-radius: 12px;
$dropdown-border-width: 0;
$dropdown-inner-border-radius: subtract(
  $dropdown-border-radius,
  $dropdown-border-width
);
$dropdown-box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.1);

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: $dropdown-bg;

$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: $dropdown-bg;

$dropdown-link-disabled-color: $tertiary;

$dropdown-item-padding-y: 12px;
$dropdown-item-padding-x: 24px;

$dropdown-header-color: $secondary;
$dropdown-header-padding: $dropdown-padding-y $dropdown-item-padding-x;
