{% set startUrl = 'http://app.bitu.vn/login/' %}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>{{pageTitle}} | Bitu</title>
    <!-- build:css ./assets/styles/style.css -->

    <!-- bower:css -->
    <!-- endbower -->
    <link href="./assets/styles/bootstrap.css" rel="stylesheet">
    <link href="./assets/styles/vendors.css" rel="stylesheet">
    <link href="./assets/styles/style.css" rel="stylesheet">
    <!-- endbuild -->
  </head>

  <body class="{{bodyClasses}}">
    {% include "../shared/header-bitu.njk" %}
    <main class="gw-main">
      {% block content %}{% endblock %}
    </main>
    {% include "../shared/footer.njk" %}

    <!-- build:js ./assets/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
    <script src="/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/dist/tab.js"></script>
    <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="/bower_components/swiper/dist/js/swiper.js"></script>
    <script src="/bower_components/wow/dist/wow.js"></script>
    <script src="/bower_components/rellax/rellax.js"></script>
    <!-- endbower -->
    <script src="./assets/scripts/parallax.js"></script>
    <!-- endbuild -->

    <!-- build:js ./assets/scripts/main.js -->
    <script src="./assets/scripts/main.js"></script>
    <!-- endbuild -->

  </body>

</html>
