@mixin make-font-face($file, $name, $weight: normal, $style: normal) {
   @font-face{
    font-family: $name;
    src: url("#{$font-path}/#{$file}.otf")  format('truetype'),;
    font-weight: $weight;
    font-style: $style;
  }
}
