@mixin section-medium-spacing {
  @include media-breakpoint-only(xl) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @include media-breakpoint-between(md, lg) {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
