
<div class="gw-level">
  <div class="gw-level-wrap">
    <ul class="gw-level__nav nav d-flex justify-content-between" role="tablist">
      {% for item in data %}
        <li class="nav-item wow fadeInLeft" role="presentation" data-wow-delay="{{loop.index * 0.25 + 0.25}}s">
          <a class="nav-link d-flex align-items-center {{"active" if loop.index === 1}}" id="{{item.alias}}-tab" data-alias="{{item.alias}}" data-toggle="pill" href="#{{item.alias}}" role="tab" aria-controls="{{item.alias}}" aria-selected="{{"true" if loop.index == 1 else "false"}}">
            <img class="gw-testimonial__logo" src="/assets/images/bitu/levels/{{item.name}}.png" alt="{{item.alias}}" width="104" height="104"/>
            <span class="step-name mb-2">{{item.name}}</span>

          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="tab-content wow fadeInDown">
    {% for item in data %}
      {% set outerLoopIndex = loop.index %}
      <div class="tab-pane fade {{"show active" if loop.index === 1}}" id="{{item.alias}}" data-alias="{{item.alias}}" role="tabpanel" aria-labelledby="{{item.alias}}-tab">
        <div class="gw-demo text-center">
          <p>{{item.content | striptags(true) | escape | nl2br }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

