{% set data = [{
        step: "STEP 1",
        name: "CV & Video",
        icon: "step1",
        alias: "step1",
        content: "Candidates send Bitu a CV which summarizes their professional history, education, skills and achievements and a Video which lasts for 2-3 minutes introducing yourself. Kindly send your CV and Video to this email recruitment.bitu@gmail.com if you are interested in the position."
    },
    {
        step: "STEP 2",
        name: "Interview",
        icon: "step2",
        alias: "step2",
        content: "This interview provides an opportunity for both potential moderator and Bitu to decide if the individual's skills and character align with the company's needs and culture."
    },
    {
        step: "STEP 3",
        name: "Trial class",
        icon: "step3",
        alias: "step3",
        content: "After passing the resume selection, the BITU team will arrange 2 trial classes for candidates. The first one is beginner students and finally, intermediate students. Each class lasts for 30 minutes and will be conducted on the Google Meet platform. \
        Candidates will receive all the necessary documents to make sure that they know how a BITU class is operated. The documents include a lesson format, a topic  and a sample video for candidates to prepare for the trial class. \
        One observer from BITU will join your class at the same time to judge candidates' performance and give them feedback. \
        Training period depends on candidates’ performances. Normally it takes from 2 to 3 classes. Those classes are conducted on Google Meet as well. \
        After the training process, if the BITU team sees the improvement in performance of candidates and at the same time the candidates meet all the requirements as well, you are eligible for officially working as a moderator of BITU."
    },
    {
        step: "STEP 4",
        name: "Training ",
        icon: "step4",
        alias: "step4",
        content: "After finishing the two trial classes, candidates will enter a training session with one of our teacher managers. This step will help you familiarize with how Bitu’s classes operate and guide future moderators with practical methods on conducting a class efficiently."
    },
    {
        step: "STEP 5",
        name: "One month probation ",
        icon: "step5",
        alias: "step5",
        content: "In the first month working as an official moderator of BITU, candidates must follow all the instructions and rules provided from BITU. The candidates are also paid the rate during this time.\
        Classes that are conducted by candidates in the probationary month will be supervised and listened to randomly by the BITU team. If the candidates fail to meet the criteria or break any rules, BITU will terminate your working service immediately.
        "
    }
] %}

<section class="gw-section  gw-section--demo text-center">
  <div class="container">
    <h2 class="gw-section__heading wow fadeInDown text-left">
      Recruitment process
    </h2>
    {% include "./_base-tab.njk" %}
  </div>
</section>
