<section class="gw-section gw-section--default gw-section--block-6">
  <div class="container">
    <div class="gw-section__content">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-12 gw-info">
          <h2 class="gw-section__heading wow fadeInDown mb-4 mt-5">
            About Classes
          </h2>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-12 col-lg-6">
          <div class="gw-classes__text wow fadeIn" data-wow-delay="0.5s">Each class lasts for 30 minutes </div>
        </div>
        {# <div class="col-12 col-lg-6">
          <div class="gw-classes__text text-right wow fadeIn" data-wow-delay="0.5s"><a href="/" class="text-secondary">View teaching materials</a></div>
        </div> #}
      </div>
     <div class="row">
        <div class="col-12 col-lg-12 wow fadeInUp" data-wow-delay="0s">
          <div class="swiper-container swiper-container--classes">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="0.25s">
                    <div class="gw-classes__header text-white">
                      <div class="gw-classes__text">Tests</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>Familiar topics</li>
                        <li>5 to 8 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>8 vocabs and 2 structures with examples</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="gw-classes__header">
                      <div class="gw-classes__text">Beginners & <br/> Elementary</div>
                    </div>
                    <div class="gw-classes__content">
                      <ul>
                        <li>Simple topics</li>
                        <li>5 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>8 vocabs and 2 structures with examples</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="0.75s">
                    <div class="gw-classes__header text-white">
                      <div class="gw-classes__text">Kids: Starters + Upper Starters + Movers + Upper Movers</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>Familiar topics (School, Family, Friends, Recreational activities, etc.)</li>
                        <li>8 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>8 vocabs and 2 structures with examples</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="1s">
                    <div class="gw-classes__header text-white">
                      <div class="gw-classes__text">Kids: Flyers + Upper Flyers + Advanced</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>Familiar topics (School, Family, Friends, Recreational activities, etc.)</li>
                        <li>8 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>5 phrases, slangs and 2 idioms</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="1.25s">
                    <div class="gw-classes__header text-white ">
                      <div class="gw-classes__text">Pre-Intermediate & Lower Intermediate</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>More complicated topics</li>
                        <li>8 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>5 phrases, slangs and 2 idioms</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="1.5s">
                    <div class="gw-classes__header ">
                      <div class="gw-classes__text">Intermediate, Upper Intermediate & Pre-Advanced</div>
                    </div>
                    <div class="gw-classes__content">
                      <ul>
                        <li>More complicated topics</li>
                        <li>8 questions</li>
                        <li>2 sample answers for each questions</li>
                        <li>5 phrases, slangs and 2 idioms</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="1.5s">
                    <div class="gw-classes__header text-white ">
                      <div class="gw-classes__text">Advanced & Mastery</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>Trending topics</li>
                        <li>3 topics</li>
                        <li>1 advanced idiom</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gw-classes d-flex flex-column wow fadeInLeft" data-wow-delay="2s">
                    <div class="gw-classes__header text-white">
                      <div class="gw-classes__text">Topics for <br/> debate classes</div>
                    </div>
                    <div class="gw-classes__content text-white">
                      <ul>
                        <li>Controversial topics</li>
                        <li>Topic facts</li>
                        <li>Rules: Team divisions, Format, POI rules, Result</li>
                        <li>8 phrases, slangs + 2 idioms</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="swiper-pagination d-flex align-items-center justify-content-center"></div>
          </div>
        </div>
     </div>
  </div>
</section>
