<section class="gw-section gw-section--default gw-section--block-3">
  <div class="container">
    <div class="gw-section__content">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-7 gw-info">
          <h2 class="gw-section__heading wow fadeInDown">
          Job Description
        </h2>
          <div class="gw-section__description wow fadeInUp pb-4" data-wow-delay="0.25s">
          <p><strong>Job title</strong></p>
          <p class="mb-4">Online English Moderators </p>
          <p><strong>Work location</strong></p>
          <p class="mb-4">Work online using mobile application named ‘’Bitu mod’’ </p>
          <p><strong>Working time</strong></p>
          <p class="mb-4">You can choose to work with a flexible schedule or a fixed schedule </p>
          <p><strong>Duties</strong></p>
          <p class="mb-4">The ultimate purpose is to help students improve their communication skills in English and find joy in Bitu’s classes</p>
        </div>

        </div>
        <div class="col-12 col-lg-5 ">
            <div class="gw-section__description wow fadeInUp pb-4 pt-4" data-wow-delay="0.25s">
              <p class="pl-5 pt-5 mt-5"><strong>Requirements</strong></p>
              {% set list = ['Good English accent ', 'Good communication skills ', 'A patient and resilient personality ','Dedication to students and Education','Previous experience as an English teacher <br/> is an advantage'] %}
              {% include "../shared/checklist.njk" %}
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
