<section class="gw-section gw-section--default gw-section--block-2">
  <div class="container">
    <div class="gw-section__content">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-12 gw-info">
          <h2 class="gw-section__heading wow fadeInDown mb-5">
            Become Our Moderators
          </h2>
        </div>
      </div>
      <div class="row  mt-5">
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-oclock.svg" class="d-block" alt="" />
            </div>
            <div>
              Have chance to <span class="text-primary">work flexibly</span> in your <br/> spare time
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0.5s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-money.svg" class="d-block" alt="" />
            </div>
            <div>
              Receive a monthly guaranteed <br/> income up to<span class="text-primary"> $450/month or <br/> even more </span>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0.75s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-customer.svg" class="d-block" alt="" />
            </div>
            <div>
            <span class="text-primary">Work online </span>in a joyful and energetic <br/>  teaching environment
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-reaction.svg" class="d-block" alt="" />
            </div>
            <div>
              No experience in teaching English <br/>  doesn’t matter since you will be <br/>  properly trained and provided all <br/>  necessary teaching materials before <br/>  starting conduct classes
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0.5s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-medal.svg" class="d-block" alt="" />
            </div>
            <div>
              Be handsomely rewarded for an <br/>  excellent performance in a month
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 mb-5 wow fadeInUp" data-wow-delay="0.75s">
          <div class="d-flex w-100 flex-column">
            <div class="mb-4">
              <img src="/assets/images/bitu/icons/icon-form.svg" class="d-block" alt="" />
            </div>
            <div>
            Receive weekly and monthly <br/>  feedbacks from Bitu team on how to <br/>  conduct class more effectively
            </div>
          </div>
        </div>
     </div>

  </div>
</section>
