
{% set data = [
  {
    content: 'Unable to produce basic words/sentences, can’t understand teachers even when they speak at a really slow pace.',
    name: 'Unqualified',
    alias: 'level1'
  }
  , {
    content: 'Uses simple vocabulary to convey information, makes numerous grammar errors, speaks with long pauses and has limited ability to link simple sentences.',
    name: 'Beginners',
    alias: 'level2'
  }
  , {
    content: 'Has enough vocabulary to discuss topics at length but sometimes used inappropriately, produces complex sentence forms with but make frequent mistakes.',
    name: 'Pre-Intermediate',
    alias: 'level3'
  }
  , {
    content: ' Produces a majority of error-free sentences with only very occasional inappropriacies or basic/non-systematic errors, uses some less common and idiomatic vocabulary and shows some awareness of style and collocation, with some inappropriate choices.',
    name: 'Intermediate',
    alias: 'level4'
  }
  , {
    content: 'Develops topics coherently and appropriately, uses less common and idiomatic vocabulary skilfully, with occasional inaccuracies, uses a wide range of structures flexibly.',
    name: 'Advanced',
    alias: 'level5'
  }
  , {
    content: 'Uses simple vocabulary to convey information, makes numerous grammar errors, speaks with long pauses and has limited ability to link simple sentences.',
    name: 'Kids',
    alias: 'level6'
  }
] %}
{# {% set clips = ['Idea <br/> brainstorming ','Structures','Pronunciation','Vocabulary','Interactions <br/> with others <br/> when using <br/> English'] %} #}
<section class="gw-section gw-section--default gw-section--block-5">
  <div class="container">
    <div class="gw-section__header text-center text-white">
        <h1 class="gw-section__heading wow bounceInDown mb-4">About Your Student</h1>
          <div class="gw-section__description text-white mb-4" >
          Bitu's users are mostly Vietnamese of diverse ages, from 6 years old and up. Their levels vary from <br>
          Unqualified to Advanced. Users from other nationalities are also welcome in Bitu.
        </div>
    </div>
    <div class="gw-section__content px-4">
        <div class="gw-section__description wow fadeInUp text-center" data-wow-delay="0.25s">
          Users’ Levels
        </div>
        {% include "./_base-tab-2.njk" %}
    </div>
    <div class="gw-section__more px-4">
      <div class="gw-desktop">
        <img src="/assets/images/bitu/user-target.svg" width="1272" height="351"  class="img-fluid wow fadeInUp">

      </div>
      <div class="gw-mobile pb-3">
        <img src="/assets/images/bitu/user-target-mb.svg" class="img-fluid wow fadeInUp ">

      </div>

    </div>
  </div>
</section>
