<section class="gw-section gw-section--default gw-section--block-1">
  <div class="container">
    <div class="gw-section__content">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 gw-info">
           <h2 class="gw-section__heading wow fadeInDown pl-3">
            About Bitu
          </h2>
          <div class="gw-section__description wow fadeInUp mt-3" data-wow-delay="0.25s">
            Bitu is a mobile application created in order to provide a practical speaking English environment in groups to all students. Regardless of levels, age, nationalities or educational background, everybody is able to join and practice speaking English with foreign moderators on diverse topics.
          </div>
          <div class="w-100 d-flex mt-5 pb-3">
            <a href="/" class="mr-2 btn-app">
              <img src="/assets/images/bitu/app-store.png" alt="apple-store" class="img-fluid">
            </a>
            <a href="/" class="btn-app">
              <img src="/assets/images/bitu/google-play.png" alt="google-play" class="img-fluid">
            </a>
          </a>
        </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="gw-desktop">
            <img src="/assets/images/bitu/mobile.png"  alt="Trò chuyện, nhắn tin với mọi người" class="img-fluid img-shadow wow fadeInLeft">
            <div class="gw-parallax">
              <div class="gw-parallax__item" data-depth="0.30">
                <i class="gw-decor icon-phone"></i>
              </div>
            </div>
          </div>
          <div class="gw-mobile">
            <img src="/assets/images/bitu/mascot-mb.png" alt="Trò chuyện, nhắn tin với mọi người" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
