<section class="gw-section gw-section--default gw-section--block-4">
  <div class="container">
    <div class="gw-section__content">
      <div class="row justify-content-between">
        <div class="col-12 gw-info">
          {% include "./application.njk" %}
        </div>
      </div>
    </div>
  </div>
</section>
