<section class="gw-section gw-section--hero gw-section--default">
  <div class="gw-hero container">
    <h1 class="gw-section__heading wow bounceInDown">Become Our Moderators</h1>
    <div class="wow fadeInUp" data-wow-delay="0.25s">
      <div class="gw-section__description">
        Partner with us to empower your livelihood and more. <br/>
        Let's get started on this journey together.
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.5s">
      <a href="#" class="btn btn-primary btn-lg gw-hero__cta rellax"  data-rellax-speed="-2">Sign Up Now</a>
    </div>
  </div>
  <div class="gw-visual">
    <div class="container">
      <div class="gw-visual__content">
        <div class="wow bounceInUp" data-wow-delay="0.25s">
          <div class="gw-visual__wrapper rellax" data-rellax-speed="-1">
            <img src="/assets/images/bitu/banner.jpg" alt="bitu" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
