

<section class="gw-section gw-section--default gw-section--block-7">
  <div class="container">
    <div class="gw-section__header text-center">
        <h1 class="gw-section__heading wow bounceInDown mb-4">Q&A</h1>
    </div>
    <div class="gw-section__content px-4 wow fadeInUp " data-wow-delay="0.25s">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8 ">
              <div class="bd-example w-100" data-example-id="">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="card wow fadeInUp" data-wow-delay="0.25s">
                    <div class="card-header" role="tab" id="headingOne">
                      <div class="mb-0 d-flex w-100 justify-content-between d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">1</span>
                            <p>Is it okay if I have no experience in teaching English before?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>

                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                      <div class="card-block">
                        Even when you have no experience in teaching English before, don’t worry because you will be properly trained and provided all necessary teaching materials before starting conduct class
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="0.5s">
                    <div class="card-header" role="tab" id="headingTwo">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">2</span>
                            <p>What should I prepare in advanced for each class?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                      <div class="card-block">
                        You don’t have to prepare much because the outlines for the topics are shown in each class. All you need to do is make sure that your internet connection works well during the class. Besides, you can have access to the outlines in advanced in case you want to be super well-prepared
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="0.75s">
                    <div class="card-header" role="tab" id="headingThree">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">3</span>
                            <p>Will I get a bonus if I perform excellently in a month?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                      <div class="card-block">
                        Of course you will be handsomely rewarded for an excellent performance in a month.
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="1s">
                    <div class="card-header" role="tab" id="headingOne">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">4</span>
                            <p>Is it necessary to always open my camera during the class?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>

                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                      <div class="card-block">
                        Yes. All classes in Bitu are video classes. It helps promote the interaction between student and teacher. Unless your internet connection isn’t stable enough, kindly always open the camera in classes.
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="1.25s">
                    <div class="card-header" role="tab" id="headingTwo">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">5</span>
                            <p>Does Bitu have any monthly virtual meetings?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>
                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                      <div class="card-block">
                        All moderators are welcomed to join the virtual meeting which is organized every month to share their difficulties handling classes, figure out the solutions to solve them and come up with new ideas
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="1.5s">
                    <div class="card-header" role="tab" id="headingThree">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">6</span>
                          <p>What should I do if students ask me questions unrelated to the lesson or about Bitu’s policy? </p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                      <div class="card-block">
                        Moderators aren’t allowed to answer any questions which aren’t related to the lesson. Things such as Bitu’s policy must be discussed between students and Bitu staff
                      </div>
                    </div>
                  </div>
                  <div class="card wow fadeInUp" data-wow-delay="1.75s">
                    <div class="card-header" role="tab" id="headingThree">
                      <div class="mb-0 d-flex w-100 justify-content-between">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                          <span class="fa-file-text-o" aria-hidden="true">7</span>
                          <p>What makes Bitu different from the other teaching platforms?</p>
                        </a>
                        <span class="fa fa-angle-right" aria-hidden="true"><img src="/assets/images/bitu/icons/icon-up.svg" /></span>
                      </div>
                    </div>
                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                      <div class="card-block">
                        Bitu is a unique mobile application which helps connect students and moderators easily. In Bitu, moderators are given the most favorable working environment where your ideas and suggestions  are heard and respected. Bitu welcomes moderators of all ages who are good at English speaking skills and gives them a proper training program. In Bitu, both students and moderators are encouraged to have fun while teaching and learning.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
